/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 11 janv. 2025, 16:39:31
    Author     : aurel
*/
#maPhoto {
    margin-right: 10px;
}
.jumbotron {
    padding-bottom: 32px;
}
.row {
    margin-top: 100px;
}

